"" .ideavimrc - Cameron Larsen
echo "Loading .ideavimrc"

"" Base Settings
map <Space> <Nop>
let mapleader = " "

set scrolloff=10
set linenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set clipboard+=unnamedplus

"" Plugins
set surround
set highlightedyank
set nerdtree
set argtextobj
set textobj-entire
set ideajoin

"" Key Mappings
inoremap jk <Esc>
nnoremap <C-w>o <Action>(HideAllWindows)

" Tab navigation
nnoremap <S-Right> :tabnext<CR>
nnoremap <S-Left> :tabprev<CR>
nnoremap <leader>bc :tabclose<CR>
nnoremap <leader>bb <Action>(Switcher)

" Pane navigation
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l
nnoremap <C-k> <C-W>k
nnoremap <C-j> <C-W>j

" Jump between methods
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Popup navigation
imap <C-j> <Action>(PopupMenu-selectNext)
imap <C-k> <Action>(PopupMenu-selectPrev)

" Comment
map gcc <Action>(CommentByLineComment)

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" Open File Explorer
map <leader>fe :NERDTreeFocus<CR>

" Find/Search
map <leader>ff <Action>(GotoFile)
map <leader>fo <Action>(RecentFiles)
map <leader>fs <Action>(SearchEverywhere)
map <leader>fp <Action>(ActivateProjectToolWindow)
map <leader>ft <Action>(FindInPath)

" Actions
map <leader>la <Action>(ShowIntentionActions)


" Refactoring
map <leader>lrn <Action>(RenameElement)
map <leader>lrx <Action>(ExtractMethod)
map <leader>lrv <Action>(IntroduceVariable)
map <leader>lrf <Action>(IntroduceField)
map <leader>lrc <Action>(IntroduceConstant)
map <leader>lrp <Action>(IntroduceParameter)
map <leader>lrs <Action>(ChangeSignature)
map <leader>lrr <Action>(Refactorings.QuickListPopupAction)
map <leader>lro <Action>(OptimizeImports)
map <leader>lri <Action>(Inline)
map <leader>lrm <Action>(Move)
map <leader>lra <Action>(AnonymousToInner)

" Source generation
map <leader>lsa <Action>(Generate)
map <leader>lsc <Action>(GenerateConstructor)
map <leader>lsg <Action>(GenerateGetterSetter)
map <leader>lse <Action>(GenerateEquals)
map <leader>lso <Action>(OverrideMethods)
if &ide =~? 'android studio'
    map <leader>lsn <Action>(Kotlin.NewFile)
else
    map <leader>lsn <Action>(NewClass)
endif
map <leader>lsf <Action>(NewFile)

map <leader>lf <Action>(ReformatCode)

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
nmap gt <Action>(GotoTest)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" Git windows
nmap <leader>gc <Action>(CheckinProject)
nmap <leader>gs <Action>(ActivateVersionControlToolWindow)
nmap <leader>gb <Action>(Git.Branches)

nmap gl <Action>(ShowErrorDescription)
nmap <leader>ghr <Action>(Vcs.RollbackChangedLines)

echo "Finished loading .ideavimrc"
