"" .ideavimrc - Cameron Larsen
echo "Loading .ideavimrc"

"" Leader
map <Space> <Nop>
let mapleader = " "

"" Base Settings
set scrolloff=5
set showmode
set showcmd
set number
set relativenumber
set smartcase
set incsearch
set hlsearch
set clipboard+=unnamedplus

"" Plugins
set surround
set highlightedyank
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_color = "rgba(57, 197, 187, 155)"
set nerdtree
set argtextobj
set textobj-indent
set textobj-entire
set ideajoin

"" Key Mappings
inoremap jk <Esc>
" but preserve ideavim defaults
nnoremap g<c-o> <c-o>
nnoremap g<c-i> <c-i>
" built-in navigation to navigated items works better
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
" but preserve ideavim search
nnoremap g/ /
" built in search looks better
nmap / <Action>(Find)

" Buffer/Tab navigation
nnoremap <S-Right> :tabnext<CR>
nnoremap <S-Left> :tabprev<CR>
nnoremap <leader>bc :tabclose<CR>
nnoremap <leader>bb <Action>(Switcher)
nnoremap <leader>ba <Action>(CloseAllEditors)
nnoremap <leader>bo <Action>(CloseAllEditorsButActive)
nnoremap <leader>bp <Action>(CloseAllUnpinnedEditors)

" Window/Pane 
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l
nnoremap <C-k> <C-W>k
nnoremap <C-j> <C-W>j
nmap <leader>wv <Action>(SplitVertically)
nmap <leader>ws <Action>(SplitHorizontally)
nmap <leader>wu <Action>(Unsplit)
nmap <leader>wm <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>ww <Action>(HideAllWindows)

" Menu
nnoremap <leader>mm <Action>(MainMenu)
nnoremap <leader>ma <Action>(AnalyzeMenu)
nnoremap <leader>mb <Action>(BuildMenu)
nnoremap <leader>mc <Action>(CodeMenu)
nnoremap <leader>mf <Action>(FindMenuGroup)
nnoremap <leader>mg <Action>(GoToMenu)
nnoremap <leader>ms <Action>(ScopeViewPopupMenu)
nnoremap <leader>mt <Action>(EditorTabPopupMenu)
nnoremap <leader>mw <Action>(ToolWindowsGroup)

" []
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap [h <Action>(VcsShowPrevChangeMarker)
nmap ]h <Action>(VcsShowNextChangeMarker)
nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)
nmap [g <Action>(GotoPreviousError)
nmap ]g <Action>(GotoNextError)
nmap [u <Action>(GotoPrevElementUnderCaretUsage)
nmap ]u <Action>(GotoNextElementUnderCaretUsage)
nmap [o <Action>(PreviousOccurence)
nmap ]o <Action>(NextOccurence)
nmap [c <Action>(JumpToLastChange)
nmap ]c <Action>(JumpToNextChange)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Popup navigation
imap <C-j> <Action>(PopupMenu-selectNext)
imap <C-k> <Action>(PopupMenu-selectPrev)

" Comment
nmap gcc <Action>(CommentByLineComment)
nmap gcb <Action>(CommentByBlockComment)
vmap gc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByBlockComment)


" Open File Explorer
map <leader>fe :NERDTreeFocus<CR>
map <leader>fE :NERDTreeFind<CR>

" Find/Search
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fo <Action>(RecentFiles)
nmap <leader>fs <Action>(SearchEverywhere)
nmap <leader>fp <Action>(ActivateProjectToolWindow)
nmap <leader>ft <Action>(FindInPath)

" Actions
map <leader>la <Action>(ShowIntentionActions)
map <leader>lf <Action>(ReformatCode)


" Refactoring
map <leader>lrn <Action>(RenameElement)
map <leader>lrx <Action>(ExtractMethod)
map <leader>lrv <Action>(IntroduceVariable)
map <leader>lrf <Action>(IntroduceField)
map <leader>lrc <Action>(IntroduceConstant)
map <leader>lrp <Action>(IntroduceParameter)
map <leader>lrs <Action>(ChangeSignature)
map <leader>lrr <Action>(Refactorings.QuickListPopupAction)
map <leader>lro <Action>(OptimizeImports)
map <leader>lri <Action>(Inline)
map <leader>lrm <Action>(Move)
map <leader>lra <Action>(AnonymousToInner)

" Source generation
map <leader>lsa <Action>(Generate)
map <leader>lsc <Action>(GenerateConstructor)
map <leader>lsg <Action>(GenerateGetterSetter)
map <leader>lse <Action>(GenerateEquals)
map <leader>lso <Action>(OverrideMethods)
if &ide =~? 'android studio'
    map <leader>lsn <Action>(Kotlin.NewFile)
else
    map <leader>lsn <Action>(NewClass)
endif
map <leader>lsf <Action>(NewFile)

map <leader>lf <Action>(ReformatCode)

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(ShowUsages)
nmap gt <Action>(GotoTest)
nmap gI <Action>(QuickImplementations)
nmap gn <Action>(ShowNavBar)

" Git windows
nmap <leader>gc <Action>(CheckinProject)
nmap <leader>gs <Action>(ActivateVersionControlToolWindow)
nmap <leader>gb <Action>(Git.Branches)

nmap gl <Action>(ShowErrorDescription)
nmap <leader>ghr <Action>(Vcs.RollbackChangedLines)

" Run
nmap <leader>rc <Action>(ContextRun)
nmap <leader>rx <Action>(chooseRunConfiguration)
nmap <leader>rr <Action>(Rerun)
nmap <leader>rt <Action>(RunTests)
nmap <leader>rs <Action>(Stop)

" Debug
nmap <leader>dc <Action>(ContextDebug)
nmap <leader>dx <Action>(Debug)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>de <Action>(EditBreakpoint)
nmap <leader>dv <Action>(ViewBreakpoints)

" Collapse
nmap zz <Action>(ExpandCollapseToggleAction)
nmap za <Action>(CollapseAllRegions)
nmap zA <Action>(ExpandAllRegions)

" Zen
nmap <leader>z <Action>(ToggleZenMode)

" Terminal
nmap <leader>tt <Action>(ActivateTerminalToolWindow)
nmap <leader>tc <Action>(Terminal.OpenInTerminal)

echo "Finished loading .ideavimrc"
