"" .ideavimrc - Cameron Larsen

"" Base Settings

set scrolloff=10
set linenumber
set showmode
set showcmd

set smartcase
set incsearch
set hlsearch

set clipboard+=unnamedplus

let mapleader = " "

set surround
set highlightedyank
set nerdtree

"" Key Mappings

inoremap jk <Esc>

" Tab navigation
nnoremap <S-Right> :tabnext<CR>
nnoremap <S-Left> :tabprev<CR>

" Pane navigation
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Popup navigation
inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)

" Comment
map gcc <Action>(CommentByLineComment)

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

" Open File Explorer
map <leader>fe :NERDTreeToggle<CR>

map <leader>ff <Action>(GotoFile)
map <leader>fo <Action>(RecentFiles)

" Actions
map <leader>la <Action>(ShowIntentionActions)
map <leader>fs <Action>(SearchEverywhere)


" Refactoring
map <leader>lrn <Action>(RenameElement)
map <leader>lrx <Action>(ExtractMethod)
map <leader>lrv <Action>(IntroduceVariable)
map <leader>lrf <Action>(IntroduceField)
map <leader>lrc <Action>(IntroduceConstant)
map <leader>lrp <Action>(IntroduceParameter)
map <leader>lrs <Action>(ChangeSignature)
map <leader>lrr <Action>(Refactorings.QuickListPopupAction)
map <leader>lro <Action>(OptimizeImports)
map <leader>lri <Action>(Inline)
map <leader>lrm <Action>(Move)
map <leader>lra <Action>(AnonymousToInner)

" Source generation
map <leader>lsa <Action>(Generate)
map <leader>lsc <Action>(GenerateConstructor)
map <leader>lsg <Action>(GenerateGetterSetter)
map <leader>lse <Action>(GenerateEquals)
map <leader>lso <Action>(OverrideMethods)
map <leader>lsn <Action>(NewClass)
map <leader>lsf <Action>(NewFile)

map <leader>lf <Action>(ReformatCode)

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
nmap gt <Action>(GotoTest)
nmap gf <Action>(Back)
nmap gb <Action>(Forward)

" Git windows
map <leader>gc <Action>(CheckinProject)
map <leader>gs <Action>(ActivateVersionControlToolWindow)
map <leader>gb <Action>(Git.Branches)

map gl <Action>(ShowErrorDescription)
