@media (-moz-platform: linux) {
  .titlebar-buttonbox-container {
    visibility: hidden !important;
    display: none !important;
  }

  :root {
    --firefoxcss-control-buttons-margin: 0px !important;
  }
}
