[Containments][12]
layoutId=

[Containments][13]
layoutId=

[Containments][14]
layoutId=

[Containments][15]
layoutId=

[Containments][17]
layoutId=

[Containments][19]
layoutId=

[LayoutSettings]
activities=
lastUsedActivity=
preferredForShortcutsTouched=false
